n8n-workflows/04-attendance-alert-escalation.json
{
  "name": "04 — Attendance Alert Escalation",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "sjms/attendance",
        "options": {}
      },
      "name": "SJMS Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.event }}",
              "value2": "attendance.created"
            }
          ]
        }
      },
      "name": "Filter Event",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        450,
        300
      ]
    },
    {
      "parameters": {
        "url": "=http://api:3001/api/v1/attendance/{{ $json.data.id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Internal-Service-Key",
              "value": "={{$env.INTERNAL_SERVICE_KEY}}"
            }
          ]
        },
        "options": {}
      },
      "name": "Get Details",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        650,
        200
      ]
    },
    {
      "parameters": {
        "url": "http://api:3001/api/v1/notifications",
        "method": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Internal-Service-Key",
              "value": "={{$env.INTERNAL_SERVICE_KEY}}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\"userId\":$json.data.studentId,\"title\":\"Attendance Alert Escalation\",\"message\":\"Attendance has dropped below the threshold. Review required.\",\"category\":\"ATTENDANCE\",\"priority\":\"HIGH\"}) }}",
        "options": {}
      },
      "name": "Create Notification",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        850,
        200
      ]
    }
  ],
  "connections": {
    "SJMS Webhook": {
      "main": [
        [
          {
            "node": "Filter Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Event": {
      "main": [
        [
          {
            "node": "Get Details",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Get Details": {
      "main": [
        [
          {
            "node": "Create Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "name": "sjms"
    }
  ]
}
