server/src/workflows/workflow-exam-board-scheduled.json
{
  "name": "SJMS: Exam Board Scheduled",
  "nodes": [
    {
      "parameters": {
        "path": "sjms/exam-board/scheduled",
        "httpMethod": "POST",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "exb-00001-trigger",
      "name": "Webhook — Exam Board",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "sjms-exam-board-scheduled"
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "exb-cond-01",
              "leftValue": "={{ $json.event }}",
              "rightValue": "exam_board.scheduled",
              "operator": { "type": "string", "operation": "equals" }
            }
          ]
        }
      },
      "id": "exb-00002-filter",
      "name": "Filter — Scheduled",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [480, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=http://api:3001/api/v1/exam-boards/{{ $json.entityId }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "options": {}
      },
      "id": "exb-00003-fetch",
      "name": "Fetch Board Details",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [710, 200],
      "credentials": { "httpHeaderAuth": { "id": "sjms-internal", "name": "SJMS Internal API" } }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://api:3001/api/v1/communications/send",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "templateKey", "value": "exam_board_invitation" },
            { "name": "channel", "value": "email" },
            { "name": "data", "value": "={{ JSON.stringify({ boardId: $json.id, title: $json.title, scheduledDate: $json.scheduledDate }) }}" }
          ]
        },
        "options": {}
      },
      "id": "exb-00004-invite",
      "name": "Send Board Invitations",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [940, 100],
      "credentials": { "httpHeaderAuth": { "id": "sjms-internal", "name": "SJMS Internal API" } }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://api:3001/api/v1/support",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "category", "value": "ASSESSMENT" },
            { "name": "subject", "value": "Prepare board papers for {{ $('Fetch Board Details').item.json.title }}" },
            { "name": "description", "value": "Exam board scheduled — prepare and distribute board papers ahead of the meeting." },
            { "name": "priority", "value": "HIGH" }
          ]
        },
        "options": {}
      },
      "id": "exb-00005-papers",
      "name": "Create Papers Task",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [940, 300],
      "credentials": { "httpHeaderAuth": { "id": "sjms-internal", "name": "SJMS Internal API" } }
    }
  ],
  "connections": {
    "Webhook — Exam Board": {
      "main": [[{ "node": "Filter — Scheduled", "type": "main", "index": 0 }]]
    },
    "Filter — Scheduled": {
      "main": [
        [{ "node": "Fetch Board Details", "type": "main", "index": 0 }],
        []
      ]
    },
    "Fetch Board Details": {
      "main": [[
        { "node": "Send Board Invitations", "type": "main", "index": 0 },
        { "node": "Create Papers Task", "type": "main", "index": 0 }
      ]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "active": false,
  "tags": [{ "name": "sjms" }, { "name": "phase-6" }, { "name": "assessment" }]
}
