server/src/workflows/workflow-progression-decision.json
{
  "name": "SJMS: Progression Decision",
  "nodes": [
    {
      "parameters": {
        "path": "sjms/progression/decision-made",
        "httpMethod": "POST",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "prg-00001-trigger",
      "name": "Webhook — Progression",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "sjms-progression-decision"
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "prg-cond-01",
              "leftValue": "={{ $json.event }}",
              "rightValue": "progression.decision_made",
              "operator": { "type": "string", "operation": "equals" }
            }
          ]
        }
      },
      "id": "prg-00002-filter",
      "name": "Filter — Status Changed",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [480, 300]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            { "outputIndex": 0, "conditions": { "conditions": [{ "leftValue": "={{ $json.data?.newStatus }}", "rightValue": "ENROLLED", "operator": { "type": "string", "operation": "equals" } }] } },
            { "outputIndex": 1, "conditions": { "conditions": [{ "leftValue": "={{ $json.data?.newStatus }}", "rightValue": "SUSPENDED", "operator": { "type": "string", "operation": "equals" } }] } },
            { "outputIndex": 2, "conditions": { "conditions": [{ "leftValue": "={{ $json.data?.newStatus }}", "rightValue": "WITHDRAWN", "operator": { "type": "string", "operation": "equals" } }] } },
            { "outputIndex": 3, "conditions": { "conditions": [{ "leftValue": "={{ $json.data?.newStatus }}", "rightValue": "COMPLETED", "operator": { "type": "string", "operation": "equals" } }] } }
          ]
        },
        "options": { "fallbackOutput": "extra" }
      },
      "id": "prg-00003-switch",
      "name": "Switch — Decision",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [710, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://api:3001/api/v1/communications/send",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "recipientId", "value": "={{ $json.data?.studentId }}" },
            { "name": "templateKey", "value": "progression_confirmed" },
            { "name": "channel", "value": "email" }
          ]
        },
        "options": {}
      },
      "id": "prg-00004-progress",
      "name": "Notify — Progressed",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1000, 100],
      "credentials": { "httpHeaderAuth": { "id": "sjms-internal", "name": "SJMS Internal API" } }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://api:3001/api/v1/communications/send",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "recipientId", "value": "={{ $json.data?.studentId }}" },
            { "name": "templateKey", "value": "repeat_year_notification" },
            { "name": "channel", "value": "email" }
          ]
        },
        "options": {}
      },
      "id": "prg-00005-repeat",
      "name": "Notify — Repeat Year",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1000, 300],
      "credentials": { "httpHeaderAuth": { "id": "sjms-internal", "name": "SJMS Internal API" } }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://api:3001/api/v1/communications/send",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "recipientId", "value": "={{ $json.data?.studentId }}" },
            { "name": "templateKey", "value": "withdrawal_notification" },
            { "name": "channel", "value": "email" }
          ]
        },
        "options": {}
      },
      "id": "prg-00006-withdraw",
      "name": "Notify — Withdraw",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1000, 500],
      "credentials": { "httpHeaderAuth": { "id": "sjms-internal", "name": "SJMS Internal API" } }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://api:3001/api/v1/communications/send",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "recipientId", "value": "={{ $json.data?.studentId }}" },
            { "name": "templateKey", "value": "award_eligible" },
            { "name": "channel", "value": "email" }
          ]
        },
        "options": {}
      },
      "id": "prg-00007-award",
      "name": "Notify — Award Eligible",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1000, 700],
      "credentials": { "httpHeaderAuth": { "id": "sjms-internal", "name": "SJMS Internal API" } }
    }
  ],
  "connections": {
    "Webhook — Progression": {
      "main": [[{ "node": "Filter — Status Changed", "type": "main", "index": 0 }]]
    },
    "Filter — Status Changed": {
      "main": [
        [{ "node": "Switch — Decision", "type": "main", "index": 0 }],
        []
      ]
    },
    "Switch — Decision": {
      "main": [
        [{ "node": "Notify — Progressed", "type": "main", "index": 0 }],
        [{ "node": "Notify — Repeat Year", "type": "main", "index": 0 }],
        [{ "node": "Notify — Withdraw", "type": "main", "index": 0 }],
        [{ "node": "Notify — Award Eligible", "type": "main", "index": 0 }],
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "active": false,
  "tags": [{ "name": "sjms" }, { "name": "phase-6" }, { "name": "progression" }]
}
