server/src/workflows/workflow-enrolment-incomplete.json
{
  "name": "SJMS: Enrolment Incomplete — Reminder Escalation",
  "nodes": [
    {
      "parameters": {
        "rule": { "interval": [{ "field": "hours", "hoursInterval": 24, "triggerAtHour": 8 }] }
      },
      "id": "inc-00001-trigger",
      "name": "Schedule — Daily 08:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=http://api:3001/api/v1/enrolments?status=ENROLLED&limit=100",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "options": {}
      },
      "id": "inc-00002-fetch",
      "name": "Fetch Incomplete Enrolments",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 300],
      "credentials": { "httpHeaderAuth": { "id": "sjms-internal", "name": "SJMS Internal API" } }
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "inc-cond-01",
              "leftValue": "={{ $json.data?.length }}",
              "rightValue": 0,
              "operator": { "type": "number", "operation": "gt" }
            }
          ]
        }
      },
      "id": "inc-00003-check",
      "name": "Has Incomplete?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [710, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://api:3001/api/v1/communications/send",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "templateKey", "value": "enrolment_reminder" },
            { "name": "channel", "value": "email" },
            { "name": "bulk", "value": "true" }
          ]
        },
        "options": {}
      },
      "id": "inc-00004-remind",
      "name": "Send Reminders",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [940, 200],
      "credentials": { "httpHeaderAuth": { "id": "sjms-internal", "name": "SJMS Internal API" } }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://api:3001/api/v1/support",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "category", "value": "REGISTRY" },
            { "name": "subject", "value": "Enrolment deadline escalation" },
            { "name": "description", "value": "One or more students have not completed enrolment tasks past the deadline." },
            { "name": "priority", "value": "HIGH" }
          ]
        },
        "options": {}
      },
      "id": "inc-00005-escalate",
      "name": "Escalate Overdue",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1170, 200],
      "credentials": { "httpHeaderAuth": { "id": "sjms-internal", "name": "SJMS Internal API" } }
    }
  ],
  "connections": {
    "Schedule — Daily 08:00": {
      "main": [[{ "node": "Fetch Incomplete Enrolments", "type": "main", "index": 0 }]]
    },
    "Fetch Incomplete Enrolments": {
      "main": [[{ "node": "Has Incomplete?", "type": "main", "index": 0 }]]
    },
    "Has Incomplete?": {
      "main": [
        [{ "node": "Send Reminders", "type": "main", "index": 0 }],
        []
      ]
    },
    "Send Reminders": {
      "main": [[{ "node": "Escalate Overdue", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "active": false,
  "tags": [{ "name": "sjms" }, { "name": "phase-6" }, { "name": "enrolment" }]
}
