server/src/workflows/workflow-award-confirmed.json
{
  "name": "SJMS: Award Confirmed",
  "nodes": [
    {
      "parameters": {
        "path": "sjms/enrolment/status-changed",
        "httpMethod": "POST",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "awd-00001-trigger",
      "name": "Webhook — Award",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "sjms-award-confirmed"
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "awd-cond-00",
              "leftValue": "={{ $json.event }}",
              "rightValue": "enrolment.status_changed",
              "operator": { "type": "string", "operation": "equals" }
            },
            {
              "id": "awd-cond-01",
              "leftValue": "={{ $json.data?.newStatus }}",
              "rightValue": "COMPLETED",
              "operator": { "type": "string", "operation": "equals" }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "awd-00002-filter",
      "name": "Filter — Completed",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [480, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=http://api:3001/api/v1/enrolments/{{ $json.entityId }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "options": {}
      },
      "id": "awd-00003-fetch",
      "name": "Fetch Enrolment",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [710, 200],
      "credentials": { "httpHeaderAuth": { "id": "sjms-internal", "name": "SJMS Internal API" } }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://api:3001/api/v1/communications/send",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "recipientId", "value": "={{ $json.studentId }}" },
            { "name": "templateKey", "value": "award_congratulations" },
            { "name": "channel", "value": "email" }
          ]
        },
        "options": {}
      },
      "id": "awd-00004-congrats",
      "name": "Send Congratulations",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [940, 100],
      "credentials": { "httpHeaderAuth": { "id": "sjms-internal", "name": "SJMS Internal API" } }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://api:3001/api/v1/support",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "studentId", "value": "={{ $('Fetch Enrolment').item.json.studentId }}" },
            { "name": "category", "value": "REGISTRY" },
            { "name": "subject", "value": "Generate certificate for award" },
            { "name": "description", "value": "Student has completed their programme — generate and dispatch the award certificate." },
            { "name": "priority", "value": "NORMAL" }
          ]
        },
        "options": {}
      },
      "id": "awd-00005-cert",
      "name": "Create Certificate Task",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [940, 300],
      "credentials": { "httpHeaderAuth": { "id": "sjms-internal", "name": "SJMS Internal API" } }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://api:3001/api/v1/support",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "studentId", "value": "={{ $('Fetch Enrolment').item.json.studentId }}" },
            { "name": "category", "value": "REGISTRY" },
            { "name": "subject", "value": "HESA completion notification" },
            { "name": "description", "value": "Student awarded — update HESA Data Futures return with completion and award details." },
            { "name": "priority", "value": "HIGH" }
          ]
        },
        "options": {}
      },
      "id": "awd-00006-hesa",
      "name": "HESA Notification Task",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [940, 500],
      "credentials": { "httpHeaderAuth": { "id": "sjms-internal", "name": "SJMS Internal API" } }
    }
  ],
  "connections": {
    "Webhook — Award": {
      "main": [[{ "node": "Filter — Completed", "type": "main", "index": 0 }]]
    },
    "Filter — Completed": {
      "main": [
        [{ "node": "Fetch Enrolment", "type": "main", "index": 0 }],
        []
      ]
    },
    "Fetch Enrolment": {
      "main": [[
        { "node": "Send Congratulations", "type": "main", "index": 0 },
        { "node": "Create Certificate Task", "type": "main", "index": 0 },
        { "node": "HESA Notification Task", "type": "main", "index": 0 }
      ]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "active": false,
  "tags": [{ "name": "sjms" }, { "name": "phase-6" }, { "name": "progression" }]
}
