server/src/workflows/workflow-invoice-overdue.json
{
  "name": "SJMS: Invoice Overdue — Reminders and Escalation",
  "nodes": [
    {
      "parameters": {
        "rule": { "interval": [{ "field": "hours", "hoursInterval": 24, "triggerAtHour": 10 }] }
      },
      "id": "inv-00001-trigger",
      "name": "Schedule — Daily 10:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=http://api:3001/api/v1/finance?status=OVERDUE&limit=200",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "options": {}
      },
      "id": "inv-00002-fetch",
      "name": "Fetch Overdue Accounts",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 300],
      "credentials": { "httpHeaderAuth": { "id": "sjms-internal", "name": "SJMS Internal API" } }
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "inv-cond-01",
              "leftValue": "={{ $json.data?.length }}",
              "rightValue": 0,
              "operator": { "type": "number", "operation": "gt" }
            }
          ]
        }
      },
      "id": "inv-00003-check",
      "name": "Has Overdue?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [710, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://api:3001/api/v1/communications/send",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "templateKey", "value": "invoice_14_day_reminder" },
            { "name": "channel", "value": "email" },
            { "name": "bulk", "value": "true" }
          ]
        },
        "options": {}
      },
      "id": "inv-00004-remind",
      "name": "Send 14-day Reminders",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [940, 200],
      "credentials": { "httpHeaderAuth": { "id": "sjms-internal", "name": "SJMS Internal API" } }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://api:3001/api/v1/support",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "category", "value": "FINANCE" },
            { "name": "subject", "value": "Debt recovery escalation — 30+ days overdue" },
            { "name": "description", "value": "One or more student accounts are 30+ days overdue. Initiate debt recovery procedures." },
            { "name": "priority", "value": "URGENT" }
          ]
        },
        "options": {}
      },
      "id": "inv-00005-escalate",
      "name": "Escalate 30+ Day Debt",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [940, 400],
      "credentials": { "httpHeaderAuth": { "id": "sjms-internal", "name": "SJMS Internal API" } }
    }
  ],
  "connections": {
    "Schedule — Daily 10:00": {
      "main": [[{ "node": "Fetch Overdue Accounts", "type": "main", "index": 0 }]]
    },
    "Fetch Overdue Accounts": {
      "main": [[{ "node": "Has Overdue?", "type": "main", "index": 0 }]]
    },
    "Has Overdue?": {
      "main": [
        [
          { "node": "Send 14-day Reminders", "type": "main", "index": 0 },
          { "node": "Escalate 30+ Day Debt", "type": "main", "index": 0 }
        ],
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "active": false,
  "tags": [{ "name": "sjms" }, { "name": "phase-6" }, { "name": "finance" }]
}
