server/src/workflows/workflow-submission-received.json
{
  "name": "SJMS: Submission Received",
  "nodes": [
    {
      "parameters": {
        "path": "sjms/marks/submitted",
        "httpMethod": "POST",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "sub-00001-trigger",
      "name": "Webhook — Marks",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "sjms-submission-received"
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "sub-cond-01",
              "leftValue": "={{ $json.event }}",
              "rightValue": "marks.submitted",
              "operator": { "type": "string", "operation": "equals" }
            }
          ]
        }
      },
      "id": "sub-00002-filter",
      "name": "Filter — Submitted",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [480, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=http://api:3001/api/v1/marks/{{ $json.entityId }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "options": {}
      },
      "id": "sub-00003-fetch",
      "name": "Fetch Submission",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [710, 200],
      "credentials": { "httpHeaderAuth": { "id": "sjms-internal", "name": "SJMS Internal API" } }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://api:3001/api/v1/communications/send",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "recipientId", "value": "={{ $json.data?.studentId }}" },
            { "name": "templateKey", "value": "submission_receipt" },
            { "name": "channel", "value": "email" }
          ]
        },
        "options": {}
      },
      "id": "sub-00004-receipt",
      "name": "Send Receipt",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [940, 100],
      "credentials": { "httpHeaderAuth": { "id": "sjms-internal", "name": "SJMS Internal API" } }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://api:3001/api/v1/support",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "category", "value": "ASSESSMENT" },
            { "name": "subject", "value": "Mark submission {{ $('Fetch Submission').item.json.id }}" },
            { "name": "description", "value": "New assessment attempt submitted — assign marker and complete first marking." },
            { "name": "priority", "value": "HIGH" }
          ]
        },
        "options": {}
      },
      "id": "sub-00005-task",
      "name": "Create Marking Task",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [940, 300],
      "credentials": { "httpHeaderAuth": { "id": "sjms-internal", "name": "SJMS Internal API" } }
    }
  ],
  "connections": {
    "Webhook — Marks": {
      "main": [[{ "node": "Filter — Submitted", "type": "main", "index": 0 }]]
    },
    "Filter — Submitted": {
      "main": [
        [{ "node": "Fetch Submission", "type": "main", "index": 0 }],
        []
      ]
    },
    "Fetch Submission": {
      "main": [[
        { "node": "Send Receipt", "type": "main", "index": 0 },
        { "node": "Create Marking Task", "type": "main", "index": 0 }
      ]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "active": false,
  "tags": [{ "name": "sjms" }, { "name": "phase-6" }, { "name": "assessment" }]
}
