server/src/workflows/workflow-enquiry-received.json
{
  "name": "SJMS: Enquiry Received",
  "nodes": [
    {
      "parameters": {
        "path": "sjms/enquiry/created",
        "httpMethod": "POST",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "enq-00001-trigger",
      "name": "Webhook — Enquiry",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "sjms-enquiry-received"
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "enq-cond-01",
              "leftValue": "={{ $json.event }}",
              "rightValue": "application.created",
              "operator": { "type": "string", "operation": "equals" }
            }
          ]
        }
      },
      "id": "enq-00002-filter",
      "name": "Filter — Application Created",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [480, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=http://api:3001/api/v1/applications/{{ $json.entityId }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "options": {}
      },
      "id": "enq-00003-fetch",
      "name": "Fetch Application",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [710, 200],
      "credentials": { "httpHeaderAuth": { "id": "sjms-internal", "name": "SJMS Internal API" } }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://api:3001/api/v1/communications/send",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "recipientId", "value": "={{ $('Fetch Application').item.json.applicantId }}" },
            { "name": "templateKey", "value": "enquiry_acknowledgement" },
            { "name": "channel", "value": "email" }
          ]
        },
        "options": {}
      },
      "id": "enq-00004-ack",
      "name": "Send Acknowledgement",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [940, 200],
      "credentials": { "httpHeaderAuth": { "id": "sjms-internal", "name": "SJMS Internal API" } }
    },
    {
      "parameters": {
        "amount": 2,
        "unit": "days"
      },
      "id": "enq-00005-wait",
      "name": "Wait — 2 Days",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [1170, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://api:3001/api/v1/support",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "studentId", "value": "={{ $('Fetch Application').item.json.applicantId }}" },
            { "name": "category", "value": "ADMISSIONS" },
            { "name": "subject", "value": "Follow-up: Enquiry received" },
            { "name": "description", "value": "Automated follow-up task — please contact applicant regarding their enquiry." },
            { "name": "priority", "value": "NORMAL" }
          ]
        },
        "options": {}
      },
      "id": "enq-00006-task",
      "name": "Create Follow-up Task",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1400, 200],
      "credentials": { "httpHeaderAuth": { "id": "sjms-internal", "name": "SJMS Internal API" } }
    }
  ],
  "connections": {
    "Webhook — Enquiry": {
      "main": [[{ "node": "Filter — Application Created", "type": "main", "index": 0 }]]
    },
    "Filter — Application Created": {
      "main": [
        [{ "node": "Fetch Application", "type": "main", "index": 0 }],
        []
      ]
    },
    "Fetch Application": {
      "main": [[{ "node": "Send Acknowledgement", "type": "main", "index": 0 }]]
    },
    "Send Acknowledgement": {
      "main": [[{ "node": "Wait — 2 Days", "type": "main", "index": 0 }]]
    },
    "Wait — 2 Days": {
      "main": [[{ "node": "Create Follow-up Task", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "active": false,
  "tags": [{ "name": "sjms" }, { "name": "phase-6" }, { "name": "admissions" }]
}
