server/src/workflows/workflow-missed-contact-point.json
{
  "name": "SJMS: Missed UKVI Contact Point",
  "nodes": [
    {
      "parameters": {
        "path": "sjms/ukvi/compliance-changed",
        "httpMethod": "POST",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "mcp-00001-trigger",
      "name": "Webhook — UKVI",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "sjms-missed-contact-point"
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "mcp-cond-01",
              "leftValue": "={{ $json.event }}",
              "rightValue": "ukvi.compliance_changed",
              "operator": { "type": "string", "operation": "equals" }
            }
          ]
        }
      },
      "id": "mcp-00002-filter",
      "name": "Filter — Compliance Changed",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [480, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=http://api:3001/api/v1/ukvi/{{ $json.entityId }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "options": {}
      },
      "id": "mcp-00003-fetch",
      "name": "Fetch UKVI Record",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [710, 200],
      "credentials": { "httpHeaderAuth": { "id": "sjms-internal", "name": "SJMS Internal API" } }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            { "outputIndex": 0, "conditions": { "conditions": [{ "leftValue": "={{ $json.complianceStatus }}", "rightValue": "AT_RISK", "operator": { "type": "string", "operation": "equals" } }] } },
            { "outputIndex": 1, "conditions": { "conditions": [{ "leftValue": "={{ $json.complianceStatus }}", "rightValue": "NON_COMPLIANT", "operator": { "type": "string", "operation": "equals" } }] } }
          ]
        },
        "options": { "fallbackOutput": "extra" }
      },
      "id": "mcp-00004-switch",
      "name": "Switch — Risk Level",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [940, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://api:3001/api/v1/communications/send",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "recipientId", "value": "={{ $json.studentId }}" },
            { "name": "templateKey", "value": "ukvi_at_risk_warning" },
            { "name": "channel", "value": "email" }
          ]
        },
        "options": {}
      },
      "id": "mcp-00005-warn",
      "name": "Warn — At Risk",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1200, 100],
      "credentials": { "httpHeaderAuth": { "id": "sjms-internal", "name": "SJMS Internal API" } }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://api:3001/api/v1/support",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "studentId", "value": "={{ $json.studentId }}" },
            { "name": "category", "value": "COMPLIANCE" },
            { "name": "subject", "value": "UKVI non-compliance escalation" },
            { "name": "description", "value": "Student is non-compliant with UKVI contact requirements — immediate action required." },
            { "name": "priority", "value": "URGENT" }
          ]
        },
        "options": {}
      },
      "id": "mcp-00006-escalate",
      "name": "Escalate — Non-Compliant",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1200, 300],
      "credentials": { "httpHeaderAuth": { "id": "sjms-internal", "name": "SJMS Internal API" } }
    }
  ],
  "connections": {
    "Webhook — UKVI": {
      "main": [[{ "node": "Filter — Compliance Changed", "type": "main", "index": 0 }]]
    },
    "Filter — Compliance Changed": {
      "main": [
        [{ "node": "Fetch UKVI Record", "type": "main", "index": 0 }],
        []
      ]
    },
    "Fetch UKVI Record": {
      "main": [[{ "node": "Switch — Risk Level", "type": "main", "index": 0 }]]
    },
    "Switch — Risk Level": {
      "main": [
        [{ "node": "Warn — At Risk", "type": "main", "index": 0 }],
        [{ "node": "Escalate — Non-Compliant", "type": "main", "index": 0 }],
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "active": false,
  "tags": [{ "name": "sjms" }, { "name": "phase-6" }, { "name": "ukvi" }]
}
